* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  height: 100%;
  cursor: none;
}

main {
  width: 100%;
  height: 100%;
  background-color: rgb(239, 234, 234);

}

#cursor {
  height: 160px;
  position: fixed;

  transform: rotate(-60deg);

}