* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: sans-serif;
  width: 100%;
  height: 100%;
}

main {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: gray;

  .header {
    background-color: bisque;
    width: 60%;
    height: 55%;
    text-align: center;
    padding: 10px;
    border-radius: 5px;

    h1 {
      font-family: monospace;
      font-style: italic;
      font-weight: 300;
      font-size: 18px;
      padding-bottom: 5px;
    }


    .outer {
      background-color: aqua;
      width: 100%;
      height: 90%;
      margin-top: 5px;

      .inner-top {
        background-color: rgb(117, 97, 70);
        width: 100%;
        height: 20%;
        border: 1px solid rgb(32, 32, 32);
        border-radius: 3px 3px 0 0;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding: 0 10px 0 30px;
        gap: 15px;

        .radio-btn {
          padding: 5px 5px;
          background-color: #696868;
          border-radius: 5px;
          cursor: pointer;
        }

        .radio-btn:active {
          scale: 0.95;
        }

        .ri-router-line,
        .ri-rfid-line {
          color: white;
          font-size: large;
        }
      }

      #piano {
        position: relative;
        width: 100%;
        height: 75%;
        background-color: rgb(20, 20, 20);
        border-radius: 0 0 3px 3px;
        display: flex;
        align-items: flex-start;
        padding-bottom: 5px;


        .key {
          box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
          border-radius: 0 0 5px 5px;
          cursor: pointer;
          box-sizing: border-box;
          transition: background-color 0.05s ease;
          flex-shrink: 0;
        }

        .white-key {
          width: 12.5%;
          height: 100%;
          background: #fff;
          border: 1px solid #ddd;
          z-index: 1;
        }

        .black-key {
          width: 8%;
          height: 60%;
          background: #000;
          position: absolute;
          top: 0;
          z-index: 2;
          border: 1px solid #333;
        }


        .black-key:nth-child(9) {
          left: 9.375%;
        }


        .black-key:nth-child(10) {
          left: 21.875%;
        }


        .black-key:nth-child(11) {
          left: 46.875%;
        }


        .black-key:nth-child(12) {
          left: 59.375%;
        }

        .black-key:nth-child(13) {
          left: 71.875%;
        }




        .white-key:hover {
          background: #f0f0f0;
        }

        .black-key:hover {
          background: #1a1a1a;
        }


        .white-key.active {
          background: #ccc;
          box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.4);
          transform: translateY(2px);

        }

        .black-key.active {
          background: #333;
          box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.2);
          transform: translateY(2px);
        }
      }
    }
  }


}