@font-face {
  font-family: apple;
  src: url(./sf-pro-text_regular.woff2);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

#main {
  width: 100%;
  height: 100%;
  /* background-color: black; */
}

#nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  color: #fff;
  background-color: #323232;
  height: 60px;
  padding: 20px;
}

#nav h4 {
  font-family: apple;
  font-size: 12px;
  font-weight: 300;
}

#nav i {
  font-size: 16px;
}

#section-one {
  width: 100%;
  height: 70%;
  background-image: url(./img/hero_iphone_17_pro__bknyzxfk2agi_mediumtall_2x.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 60px;
  line-height: 25px;
}

#section-one h2 {
  font-size: 50px;
  line-height: 1.125;
  font-weight: 600;
  letter-spacing: 0.004em;
}

#section-one p {
  font-size: 30px;
  line-height: 45px;
  font-weight: 400;
  letter-spacing: 0.012em;
}

.btn {
  width: 100%;
  /* background-color: #fff; */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  gap: 20px;
}

.btn .btn-first {
  padding: 10px 25px;
  border: none;
  border-radius: 50px;
  font-family: apple;
  font-size: 15px;
  line-height: 1.42859;
  font-weight: 500;
  color: #fff;
  /* letter-spacing: -0.016em; */
  background: rgb(0, 113, 227);
  border-color: rgba(0, 0, 0, 0);
}

.btn .btn-second {
  font-size: 15px;
  line-height: 1.42859;
  font-weight: 600;
  /* letter-spacing: -0.016em; */
  font-family: "apple", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 10px 25px;
  border-radius: 50px;
  border: 2px solid rgb(0, 113, 227);
  background-color: transparent;
  color: rgb(0, 113, 227);
}

#section-two {
  margin-top: 20px;
  width: 100%;
  height: 70%;
  background-image: url(./img/hero_iphone_air__0gxyavihpiqu_largetall_2x.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 60px;
  line-height: 25px;
}

#section-two h2 {
  font-size: 50px;
  line-height: 60px;
  font-weight: 600;
  letter-spacing: 0.004em;
  color: black;
}

#section-two p {
  color: black;
  font-size: 25px;
  line-height: 33px;
  font-weight: 300;
  letter-spacing: 0.012em;
}

.grid {
  display: grid;
  /* grid-template-columns: repeat(auto-fit, minmax(250px, 2fr)); */
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  padding: 2rem;
  background: #fafafa;
  /* background-color: #323232; */
}

.grid-content {
  margin-top: 20px;
  width: 100%;
  height: 500px;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /* border-radius: 14px; */
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.10);
  padding: 2rem;
  text-align: center;
  transition: box-shadow 0.3s;

}

.item-1 {
  background-image: url(./img/promo_iphone_17__bhofuohbsu3m_large_2x.jpg);
}

.item-2 {
  background-image: url(./img/promo_airpodspro_3__f6xmza7bglei_large_2x.jpg);
}

.item-3 {
  background-image: url(./img/promo_apple_watch_series_11__b63hxviqvonm_small.jpg);
}

.item-4 {
  background-image: url(./img/promo_apple_watch_se_3__fz5y29qx5mmy_small.jpg);
  
}


.grid-content h2 {
  font-size: 50px;
  line-height: 60px;
  font-weight: 600;
  letter-spacing: 0.004em;
  color: black;
}

.grid-content p {
  color: black;
  font-size: 25px;
  line-height: 33px;
  font-weight: 300;
  letter-spacing: 0.012em;
}