@font-face {
  font-family: 'coffee';
  src: url(./sample/Black\ and\ Bitter\ Coffee\ -\ OTF.otf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: coffee ,Arial, Helvetica, sans-serif;
}

#main {
  width: 100%;
  height: 100%;
  display: grid;
  gap: 2px;
  /* padding: 5px; */
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 80px 1fr 35%;
  grid-template-areas: "navbar  navbar navbar"
    "section-1 section-1 section-1"
    "section-2 section-2 section-2"
  ;

}

#navbar {
  background-color: #1a1a1a;
  grid-area: navbar;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
  height: 80px;
}

#navbar .logo {
  background-color: #e54b3d;
  background: radial-gradient(circle at 0 50%, transparent 30px, #e54b3d) no-repeat;
  transform: skewX(-40deg);
  border-bottom-right-radius: 50px;
  height: 100%;
  width: 500px;
  text-align: center;
  padding: 15px 0;
  font-family: coffee;
  font-size: 1.1em;
  letter-spacing: 7px;
  font-weight: bold;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.tagline {
  font-size: .8em;
  letter-spacing: 3px;
  font-family: coffee;
}

#navbar .logo .hr {

  width: 200px;
  border: 1px solid #DCAE6F;
  margin: 5px 0;
}

.nav-links {
  width: 100%;
  display: flex;
  padding: 0 100px;
  margin: 0;
  list-style: none;
  align-items: center;
  justify-content: flex-start;
  gap: 100px;
  /* text-decoration: none; */
}

.nav-links li a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;

}

.nav-links li a:hover {
  color: #ff9900
}

.section-1 {
  background-color: lightcoral;
  grid-area: section-1;
  background: url(./img/—Pngtree—coffee\ cup\ with\ beans\ landscape_15948461.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 70vh;
  background-attachment: fixed;
}

.section-2 {
  background-color: #1a1a1a;
  height: fit-content;
  padding: 20px;
  grid-area: section-2;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;

}

.section-logo {
  width: 100%;
  text-align: center;
  height: auto;
  margin-bottom: 100px;
  margin-top: 50px;
}

.section-logo h2 {
  color: #DCAE6F;
  font-size: 60px;
  line-height: 1.5em;
}

.section-logo h1 {
  color: #DCAE6F;
  font-size: xx-large;
}

.childs {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 30px;
  border-bottom: 1px solid #A95330;
}

.child {
  /* background-color: rgb(167, 153, 6); */
  width: 400px;
  height: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  text-align: center;

}

.img-div {
  width: 100%;
  height: 400px;
  margin-bottom: 25px;
  /* border-top-left-radius: 30px; */


}

.img-div .img1 {
  width: 100%;
  height: auto;
  border-top-left-radius: 35%;
  border-bottom-left-radius: 30%;
  border-bottom-right-radius: 20%;
  object-fit: cover;
  object-position: center;
}

.img-div .img2 {
  width: 80%;
  height: 350px;
  margin-top: 38px;
  border-top-right-radius: 35%;
  border-bottom-right-radius: 35%;
  object-fit: cover;
  object-position: bottom;
}

.img-div .img3 {
  width: 80%;
  height: 350px;
  margin-top: 38px;

  border-top-right-radius: 35%;
  border-bottom-right-radius: 35%;
  object-fit: cover;
  object-position: center;
}

.img-div .img4 {
  width: 90%;
  height: 350px;
  margin-top: 40px;

  border-top-right-radius: 35%;
  border-bottom-right-radius: 35%;
  object-fit: cover;
  object-position: center;
}

.content {
  margin: 15px;
  margin-bottom: 30px;
}

.content h4 {
  font-size: 20px;
  color: #fff;
  margin-bottom: 15px;
}

.content p {
  color: #999999;
  font-size: 20px;
}


button {
  padding: 10px 20px;
  background-color: #A95330;
  color: white;
  font-size: 1em;
  font-family: bold;
  border: none;
  /* margin-top: 20px; */
  /* transform: translate(all ); */
}

button:hover {
  background-color: #e54b3d;
  padding: 15px 25px;
  transition: all ease-out;
}

.creator {
  width: 100%;
  font-size: 1.1em;
  color: #A95330;
  text-align: center;
  letter-spacing: 1px;
}