* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  width: 100%;
  overflow: hidden;
  font-family: monospace;
}

main {
  width: 100%;
  height: 100%;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;

  .card {
    width: 400px;
    background-color: white;
    border-radius: 10px;
    padding: 50px 30px;

    p {
      text-align: center;
      font-size: 16px;
      font-weight: 600;
      padding: 25px;

      span {
        color: blue;
      }
    }

    .outer {
      height: 20px;
      width: 100%;
      background-color: rgb(178, 177, 177);
      border-radius: 50px;

      .inner {
        height: 100%;
        width: 0;
        background-color: green;
        border-radius: 50px;
      }
    }


    .bottom {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 20px;

      h2 {
        font-size: 60px;
        font-weight: 100;
      }

      button {
        padding: 12px 25px;
        font-weight: 600;
        font-size: 18px;
        color: white;
        background-color: green;
        border: none;
        border-radius: 5px;
        cursor: pointer;
      }

      button:active {
        scale: 0.95;
      }
    }
  }
}