/* Universal Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-size: 62.5%;
  /* 1rem = 10px */
  font-family: sans-serif;
  width: 100%;
  height: 100%;
}

:root {
  --x: 200px;
  --y: 200px;
}

body {
  /* background-image: url('https://c.wallhere.com/images/d6/ee/6458409fb6ae6f89df211c44e867-1510759.jpg!d'); */
  background-image: url('https://images.unsplash.com/photo-1613376023733-0a73315d9b06?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  background-position: center;
  background-size: cover;
}

.box {
  width: 100%;
  height: 100%;
  background: radial-gradient(160px at var(--x) var(--y), rgba(255, 255, 255, 0), rgb(0, 0, 0));
}