* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  height: 100vh;
  font-family: monospace;
  text-align: center;
  padding: 5px;
  background-color: darkgray;
}

main {
  width: 300px;
  height: 250px;
  border: 2px solid white;
  background-color: yellow;
  margin: 100px auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px;
}

h2 {
  font-size: 17px;

}

h3 {
  font-size: 35px;
  color: crimson;
  text-decoration: underline;

}

button {
  padding: 15px 20px;
  background-color: rgb(11, 188, 188);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: #fff;
  font-size: medium;
  font-weight: bold;
  transition: transform 0.2s ease;
}

button:active {
  transform: scale(0.95);
  background-color: cadetblue;
}