/* Universal Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 55px;
  height: 100vh;
  background-color: #000000;
}

@property --rotate {
  syntax: '<angle>';
  initial-value: 0deg;
  inherits: false;
}

@keyframes borderAnimate {
  from {
    --rotate: 0deg;
  }

  to {
    --rotate: 360deg;
  }

}

.box {
  width: 300px;
  padding-inline: 10px;
  padding-bottom: 10px;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 15px;
  /* box-shadow: 0 0 50px rgb(255, 0, 144); */
  background: linear-gradient(black) padding-box,
    conic-gradient(from var(--rotate), black, rgb(255, 0, 123), black) border-box;
  border: 0px solid rgba(255, 255, 255, 0);
  animation: borderAnimate 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-play-state: paused;
  transition: all 0.3s linear;
  box-shadow: 0 0 0px rgb(255, 0, 195);
  text-shadow: 0 0 0px rgb(255, 0, 123);
  cursor: pointer;
}

.box:hover {
  animation-play-state: running;
  border-width: 5px;
  box-shadow: 0 0 50px rgb(255, 0, 195);
  color: rgb(255, 0, 123);
  text-shadow: 0 0 10px rgb(255, 0, 123);

}

.box img {
  width: 100%;
}