* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: #fff;
  font-family: 'Roboto', sans-serif;
  line-height: 1.7em;
  padding-bottom: 20px;
}

.container {
  /* background-color: #0C233F; */
  max-width: 1100px;
  margin: auto;
  padding: 20px;
}

.container .name {
  padding-bottom: 10px;
  border-bottom: 2px solid #f7c08a;
  margin-bottom: 20px;
  color: #f7c08a;
  /* text-align: center; */
  font-weight: 700;
  font-size: 1.6em;
}

.container .role {
  margin: 10px 0;
  font-style: italic;
  color: #fff;
  font-size: medium;
  font-weight: 600;
}

.container .role:hover {
  color: #e6b86a;
}

.container p {
  margin: 10px 0;
  color: #2a2727;
  font-size: large;
}

#navbar {
  background-color: #0C233F;
  overflow: auto;
  color: white;
}

#navbar h1 {
  text-align: center;
  /* float: left; */
  padding: 20px 0;
}


/* section styles */
#education {
  /* margin-top: 20px;
  background-color: #e1dede;
  padding: 20px 0;
  margin-bottom: 20px;
  text-align: center; */
  margin-top: 20px 0;
  background-color: #cbc9c9;
  padding: 20px 0;
  margin-bottom: 20px;
  text-align: center;
}



#education h2 {
  color: #0C233F;
}

#skills {
  background-color: #dac8c8;
  padding: 20px 0;
  margin-bottom: 20px 0;
  text-align: center;
}

#skills h2 {
  color: #0C233F;
}

#skills ul {
  list-style: none;
  display: block;
  justify-content: center;
  flex-wrap: wrap;
}

#skills ul li {
  display: block;
  background-color: #fff;
  margin: 10px 0;
  padding: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-weight: 600;
}

#projects {
  margin-top: 20px;
  padding: 20px 0;
  text-align: center;
  margin-bottom: 20px;
  background-color: #dbc5a9;
}

#projects h2 {
  color: #0C233F;
}

#projects ul {
  list-style: none;
  padding: 0;
}

#projects ul li {
  background-color: #fff;
  display: block;
  margin: 10px 0;
  padding: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-weight: 600;

}

#contact {
  background-color: #d7a2a2;
  padding: 20px 0;
  text-align: center;
  margin-bottom: 20px;
}

#contact h2 {
  color: #0C233F;
}

#contact ul {
  padding: 0;
  margin: 0;
  display: block;
  justify-content: center;
  flex-wrap: wrap;
}

#contact ul li {
  background-color: #fff;
  list-style: none;
  margin: 10px 0;
  padding: 10px 0;
  font-weight: 600;
  cursor: pointer;
}





/* footer styles */

footer {
  background-color: #0C233F;
  color: #fff;
  text-align: center;

  padding: 10px 0;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

footer p {
  margin: 0;
}