* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

main {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
}

button {
  padding: 15px 30px;
  background-color: coral;
  border: none;
  border-radius: 2px;
  font-weight: 600;
  color: #fff;
  font-size: large;
  cursor: pointer;
  position: relative;
  z-index: 9;
}

button:active {
  scale: .95;
}